<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	
	<security:global-method-security pre-post-annotations="enabled" />
	
	<security:http pattern="/resources/**" security="none" />
	
	<security:http use-expressions="true">
	
		<!-- 
		login-processing-url="/j_spring_security_check"
		username-parameter="j_username"
		password-parameter="j_password"
		 -->
		<security:form-login 
				login-page="/public/authentication/login"
				authentication-failure-url="/public/authentication/login?error=bad_credentials" 
				default-target-url="/main" />

		<security:intercept-url pattern="/public/authentication/**" access="permitAll" requires-channel="https" />

		<security:intercept-url pattern="/secured/admin/write" access="hasRole('PERM_ADD_POST')" requires-channel="https" /> 
	    <security:intercept-url pattern="/secured/admin/modify" access="hasRole('PERM_MOD_POST')" requires-channel="https" /> 
	    <security:intercept-url pattern="/secred/**" access="fullyAuthenticated" requires-channel="https" />
		
		<security:intercept-url pattern="/**" access="permitAll" />
	
		<security:logout 
				logout-success-url="/main" 
		        logout-url="/j_spring_security_logout"
		        invalidate-session="true" 
		        delete-cookies="JESSIONID" />
		
		<security:session-management>
			<security:concurrency-control max-sessions="1" session-registry-alias="sessionRegistry"/>
		</security:session-management>
		
		<security:custom-filter ref="socialAuthenticationFilter" before="PRE_AUTH_FILTER" />
	
		<security:headers>
			<security:xss-protection />
		</security:headers>
	</security:http>
	
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="springUserDetailsService">
    		
    		<security:password-encoder hash="sha-256">
    			<security:salt-source user-property="username" />
    		</security:password-encoder>
    	
    	</security:authentication-provider>
    	
    	<security:authentication-provider ref="socialAuthenticationProvider" />
    </security:authentication-manager>
    
<!-- social baen -->
    <bean id="socialAuthenticationFilter" class="org.springframework.social.security.SocialAuthenticationFilter">
    	<constructor-arg index="0" ref="authenticationManager"/>
        <constructor-arg index="1" ref="userIdSource"/>
        <constructor-arg index="2" ref="usersConnectionRepository"/>
        <constructor-arg index="3" ref="connectionFactoryLocator"/>

        <!-- Sets the url of the registration form. -->
        <property name="signupUrl" value="/signup"/>
    </bean>
    
    <bean id="socialAuthenticationProvider" class="org.springframework.social.security.SocialAuthenticationProvider">
        <constructor-arg index="0" ref="usersConnectionRepository"/>
        <constructor-arg index="1" ref="simpleSocialUserDetailsService"/>
    </bean>
    
    <bean id="simpleSocialUserDetailsService" class="springsource.web.security.SimpleSocialUsersDetailService">
        <constructor-arg index="0" ref="springUserDetailsService"/>
    </bean>
    
    <bean id="springUserDetailsService" class="springsource.web.security.SpringUserDetailsService"/>
	
	<bean id="userIdSource" class="org.springframework.social.security.AuthenticationNameUserIdSource"/>
</beans>
